.cell {
  color: #fff;

  font-family: minesweeper;
  font-size: calc(1.2rem * var(--board-zoom));

  width: var(--cell-size);
  height: var(--cell-size);

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("../assets/unrevealed.png");
  background-size: cover;
}

.cell.pressed {
  background-image: url("../assets/empty.png");
}

.cell.revealed {
  background-image: url("../assets/empty.png");
}

.cell.mine {
  background-image: url("../assets/mine.png");
}

.cell.mine-hit {
  background-image: url("../assets/mine-hit.png");
}

.cell.flagged {
  background-image: url("../assets/flag.png");
}

.cell.flagged.safe {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAD1BMVEW9vb0AAAD/AAB7e3v///9UaJa4AAAAS0lEQVQI11WNwQnAMAwDRSawPIEjOkCg++9Wq4SG6nX4sIR7Bws7hnhBhlFYo8iQlcgsQ15UGKichhYtoy+Gn8KYFM67CxHQmfjWH/GqCYCzIeZyAAAAAElFTkSuQmCC") !important;
}

.cell.double-flagged,
.cell.triple-flagged {
  background-image: url("../assets/flag.png");
  position: relative;
}

.cell.double-flagged::after,
.cell.triple-flagged::after {
  content: "2";
  position: absolute;
  top: 0px;
  right: 0px;

  font-size: calc(0.7rem * var(--board-zoom));
  font-weight: bold;
  color: #000;

  background-color: rgba(255, 255, 255, 0.8);

  width: calc(0.8rem * var(--board-zoom));
  height: calc(0.8rem * var(--board-zoom));

  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.cell.triple-flagged::after {
  content: "3";
}

.cell.double-mine,
.cell.triple-mine {
  position: relative;
}

.cell.double-mine::after,
.cell.triple-mine::after {
  content: "2";
  position: absolute;
  top: 0px;
  right: 0px;

  font-size: calc(0.7rem * var(--board-zoom));
  font-weight: bold;
  color: #fff;

  background-color: rgba(255, 0, 0, 0.8);

  width: calc(0.8rem * var(--board-zoom));
  height: calc(0.8rem * var(--board-zoom));

  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.cell.triple-mine::after {
  content: "3"
}

.cell.n1 {
  color: var(--oneMine);
}

.cell.n2 {
  color: var(--twoMines);
}

.cell.n3 {
  color: var(--threeMines);
}

.cell.n4 {
  color: var(--fourMines);
}

.cell.n5 {
  color: var(--fiveMines);
}

.cell.n6 {
  color: var(--sixMines);
}

.cell.n7 {
  color: var(--sevenMines);
}

.cell.n8 {
  color: var(--eightMines);
}
