/* -------------- COMMON STYLES -------------- */
.modal {
  display: none;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 1;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  overflow: hidden;
}

.modal .container {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

  width: 80%;
  max-width: 400px;
  text-align: center;
}

.modal .close-modal {
  width: fit-content;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff4032;
  color: white;

  border: none;

  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.modal .close-modal:hover {
  background-color: #ff0400;
}

.modal .options-title {
  font-size: 1.6rem;
  font-weight: 500;

  margin-bottom: 10px;
  margin-top: 15px;

}

.modal ul {
  list-style-type: none;
  padding: 0;
}

.beginner {
  background-color: #c8ffc8;
}

.beginner:hover {
  background-color: #93ff93;
}

.intermediate {
  background-color: #feffc8;
}

.intermediate:hover {
  background-color: #fffd96;
}

.advanced {
  background-color: #ffc8c8;
}

.advanced:hover {
  background-color: #ffa5a5;
}

/* -------------- SETTINGS STYLES -------------- */
.settings-modal .modes li,
.settings-modal .difficulties li {
  padding: 12px 20px;
  margin: 8px 0;

  cursor: pointer;
  border: 2px solid transparent;

  font-weight: 500;
  transition: all 0.2s ease;
}

.settings-modal .modes li {
  background-color: #e3f2fd;
}

.settings-modal .modes li:hover {
  background-color: #bbdefb;
}

.settings-modal .modes li.selected {
  border-color: #1976d2;
  background-color: #90caf9;
}

/* -------------- STATISTICS STYLES -------------- */
.statistics-modal .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  font-weight: normal;
}

.statistics-modal ul {
  padding: 1rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
}

.statistics-modal .double {
  display: flex;
  align-content: center;
  justify-content: start;
  gap: 0.2rem;
}

.statistics-modal .subtitle {
  font-size: 1.1rem;
  font-weight: 500;

  width: 100%;
  margin-bottom: 0.5rem;
  padding-bottom: 0.1rem;

  text-align: start;
  border-bottom: 2px solid #000;
}

.statistics-modal .double li {
  padding: 0;
  margin: 0;
}

.statistics-modal .close-modal {
  align-self: center;
}

.open-help {
  margin-left: auto;
}

.div {
  display: inline-block;

  width: 90%;
  height: 1px;

  border: 1px solid rgb(70, 70, 70);
  margin: 1rem 0;
}

.help-modal ul {
  padding: 1rem;
  background-color: #feffc8;
  transition: background-color 0.2s ease;
}

.help-modal ul:hover {
  background-color: #fffd96;
}

.help-modal li {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
}

.help-modal li p:first-of-type {
  font-weight: 500;
}
